@page "/Account/ConfirmEmail"

@using System.Text
@using EVS.App.Application.UseCases.Voters.ConfirmVoterEmail
@using Microsoft.AspNetCore.WebUtilities

@inject IdentityRedirectManager RedirectManager
@inject ConfirmVoterEmailHandler ConfirmEmailHandler

<PageTitle>Confirm email</PageTitle>

<h1>Confirm email</h1>
<StatusMessage Message="@_statusMessage"/>

@code {
    private string? _statusMessage;

    [SupplyParameterFromQuery] private string? UserId { get; set; }

    [SupplyParameterFromQuery] private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
        var request = new ConfirmVoterEmailRequest(UserId, code);
        var result = await ConfirmEmailHandler.Handle(request);
        
        _statusMessage = result.IsSuccess ? "Thank you for confirming your email." : result.Error.errorDescription;
        
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(TimeSpan.FromSeconds(3));
        
        RedirectManager.RedirectTo("/Account/Login");
    }

}